// Imports
@import '../helpers/mixins';
@import '../helpers/variables';


.blackjack {
  display: flex;
  height: 80vh;
  width: 80%;
  margin:2rem auto;
  border: {
    width: 2px;
    style: solid;
    color: white;
    radius: 5px;
  }

  @include element('rules') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 20%;
    height: 100%;
    padding: 0 2%;
    border: {
      width: 2px;
      style: solid;
      color: black;
      radius: 5px;
    }
  }

  @include element('table') {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: {
      width: 2px;
      style: solid;
      color: black;
      radius: 5px;
    }
    background: {
      color: seagreen;
      image: url("../media/images/BP-icon.png");
      position: center;
      repeat: no-repeat;
      }
  }

  @include element('tableRow') {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include modifier('leftJustify') {
      // justify-content: flex-start;
      justify-content: space-between;
    }
  }

  @include element('deckButtonContainer') {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include element('cardSpace') {
    display: inline-block;
    width: $cardWidth;
    height: $cardHeight;
    margin: 0 10px;
    border: {
      width: 3px;
      style: solid;
      color: black;
      radius: 5px;
    }

    @include modifier('leftMargin') {
      margin-left: 1.5rem;
    }

  }

  @include element('rotateContainer') {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    transition: opacity 0.3s, transform 0.5s 0.3s;

    @include modifier('visible') {
      opacity: 1;
    }

    @include modifier('rotate') {
      transform: rotateY(180deg);
      transform-style: preserve-3d;
    }

  }

  @include element('cardImg') {
    width: 100%;
    height: 100%;
  }

  @include element('cardBack') {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
  }

  @include element('cardFace') {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  @include element('buttons') {
    width: auto;
    height: 40%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @include element('button') {
    padding: 0.5rem 0.5rem;
  }

  @include element('scores') {
    margin-right: 5rem;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }


}
