/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

body {
  background-color: dodgerblue; }

.pageTitle {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  color: darkorange; }

h2 {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  color: darkorange; }

li {
  font-size: 0.8rem; }

.pageDescription {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: black; }

/* Section Styles */
.blackjack {
  display: flex;
  height: 80vh;
  width: 80%;
  margin: 2rem auto;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 5px; }
  .blackjack__rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 20%;
    height: 100%;
    padding: 0 2%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px; }
  .blackjack__table {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: seagreen;
    background-image: url("../media/images/BP-icon.png");
    background-position: center;
    background-repeat: no-repeat; }
  .blackjack__tableRow {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .blackjack__tableRow--leftJustify {
      justify-content: space-between; }
  .blackjack__deckButtonContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .blackjack__cardSpace {
    display: inline-block;
    width: 12vh;
    height: 18vh;
    margin: 0 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 5px; }
    .blackjack__cardSpace--leftMargin {
      margin-left: 1.5rem; }
  .blackjack__rotateContainer {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    transition: opacity 0.3s, transform 0.5s 0.3s; }
    .blackjack__rotateContainer--visible {
      opacity: 1; }
    .blackjack__rotateContainer--rotate {
      transform: rotateY(180deg);
      transform-style: preserve-3d; }
  .blackjack__cardImg {
    width: 100%;
    height: 100%; }
  .blackjack__cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden; }
  .blackjack__cardFace {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg); }
  .blackjack__buttons {
    width: auto;
    height: 40%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .blackjack__button {
    padding: 0.5rem 0.5rem; }
  .blackjack__scores {
    margin-right: 5rem;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

/*# sourceMappingURL=main.css.map */
